<div class="identification">
  <table>
    <tbody>
      <tr>
        <td>
          <span class="field">MATRÍCULA:</span><br />
          <span class="value">%%REGISTRATION%%</span>
        </td>
        <td>
          <span class="field">NOME:</span><br />
          <span class="value">%%NAME%%</span>
        </td>
        <td>
          <span class="field">REFERÊNCIA:</span><br />
          <span class="value">%%MONTH%% / %%YEAR%%</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
